@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*cuerpo completo */

body{
  background: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

.post{
  background-color: white;
  width: 80%;
  max-width: 400px;
  height:100vh;
  margin: auto;
  overflow: hidden;
}
.post-img{
  height: 400px;
  overflow: hidden;
}

/*header*/
.post-header{
    padding: auto;
    display: flex;
    
}
.header-1, .header-3{
  font-size: 30px;
  text-align: right;
}
.header-1{
  margin-left: 10px;
}
.header-3{
  margin-left: 20px;
}

.header-2{
    width: 75%;
    text-align: left;
    padding-left: 10px;
}
h1, p{
  font-size: small;
  margin: 2px;
  text-align: justify;
}

/*iconos*/
.icons{
  display: flex;
  font-size: 30px;
}

#icon-heart, #icon-comment, #icon-save{
    width: 10%;
}

#icon-send{
  text-align: left;
  width: 70%;
}

/*descripcion */

a{
  font-weight: bold;
}
.description{
  margin: 5px 10px;
}
