@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*cuerpo completo */

body{
  background-color: black;
  font-family: Roboto;
  align-items: center;
  justify-content: center;
}

.post{
  background-color: white;
  width: 80%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}
.post-img{
  overflow: hidden;
}
/*header*/
.post-header{

    display: flex;
    
}
.header-2{
    width: 75%;
}
h1, p{
  font-size: 10px;
  text-align: left;
}

/*iconos*/
.icons{
  display: flex;
}

#icon-heart, #icon-comment, #icon-save{
    width: 10%;
}

#icon-send{
  text-align: left;
}

/*descripcion */

a{
  font-weight: bold;
}
